#sponsorimage {
	padding-top: 20px; 
	padding-left: 20px; 
	z-index: 2; 
	position: absolute;
} 

#promotion {
	margin-top: 235px;
  	margin-left: 305px;
  	z-index: 1; 
	position: absolute;
	background-color: #63D13E;
	text-overflow: ellipsis;
	font-size: 16px;
	width:	200px;
	height: 40px;
	color: white;
	padding: 5px;
} 

.whiteText {
	color: white;
	position:	relative;
}

#imageIdeaBox {
	height: auto;
  	width: 900px;
  	padding: 25px;
}

#ideaText {
	height: auto;
  	width: 920px;
  	opacity: 0.9;
  	margin-left: 350px;
  	background-color: black;
  	margin-top: 40px;
}

#infoText {
  	background-color: black;
  	height: 262px;
  	width: 385px;
  	position: absolute;
  	opacity: 0.9;
  	display: inline-block;
}

#photoText {
	display: inline-block;
	width: 535px;
	height: 302px;
}

#enclosingText {
	display: inline;
}

#titleCSS {
  width: 320px;
  height: 40px;
  display: inline;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
} 

#blackSpace {
  z-index: 0;
  width: 920px;
  background-color: #000000;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

#descriptionCSS {
	width: 370px;
  	height: 92px;
  	text-overflow: ellipsis;
  	padding: 20px 0px;
}

#timeCSS {
  font-weight: bold;
  padding-left: 10px;
  width: 250px;
  height: 23px;
  position: absolute;
  padding-top: 3px;
}

#u1067_states
{
  height: 42px;
  width: 385px;
  vertical-align: top;
  background: url("../images/u1067_states.png") no-repeat 0px 0px;
}

#currentIdeaCss {
  width: 266px; 
  height: 33px; 
  padding-top: 20px;
  padding-left: 20px;
}

#paddingCSS {
  padding-top: 20px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 10px;
}

#bodyStuff {
  display: inline; 
  margin-left: 350px;
}
