.version.campaigns /* version checker */
{
	color: #0000FF;
	background-color: #53DBFF;
}

.html
{
	background: #FFFFFF url("../images/weird%20foxes.png") no-repeat left top;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu645
{
	width: 0.01px;
	padding-bottom: 51px;
	margin-right: -10000px;
	margin-top: -50px;
	margin-left: -100px;
}

#u645
{
	z-index: 2;
	height: 51px;
	top: 0px;
}

#u645-bw
{
	z-index: 2;
}

#u647
{
	z-index: 6;
	width: 158px;
	top: 0px;
	left: 0px;
}

#u647_clip
{
	width: 158px;
	height: 51px;
}

#u647_img
{
	margin: -1px 3px 1px -1px;
}

#pppu650
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -50px;
	margin-left: 20px;
}

#ppu650
{
	width: 0.01px;
	padding-bottom: 51px;
	margin-left: 50px;
}

#u650
{
	z-index: 12;
	top: 0px;
	left: 170px;
}

#u650_states
{
	height: 51px;
	width: 100px;
}

#u651
{
	z-index: 16;
	top: 0px;
	left: 270px;
}

#u651_states
{
	height: 51px;
	width: 121px;
}

#u652
{
	z-index: 20;
	height: 51px;
	width: 123px;
	top: 0px;
	left: 391px;
}

#u653
{
	z-index: 23;
	height: 51px;
	width: 109px;
	top: 0px;
	left: 514px;
}

#u649
{
	z-index: 9;
	top: 17px;
	right: 99px;
}

#u649_states
{
	height: 19px;
	width: 66px;
}

#ppu780
{
	width: 0.01px;
	margin-top: 61px;
}

#pu780
{
	z-index: 25;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u780
{
	z-index: 0;
	width: 920px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu827-4
{
	width: 0.01px;
	position: relative;
	left: 18px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 126px;
}

#pu827-4
{
	width: 0.01px;
	margin-left: 3px;
}

#u827-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u856-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 693px;
}

#u902-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	margin-left: 3px;
	margin-top: 41px;
	position: relative;
}

#ppu734
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 21px;
}

#pu734
{
	z-index: 35;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu735
{
	width: 0.01px;
	padding-bottom: 11.458307440719636px;
	position: relative;
	z-index: 2;
}

#u735
{
	z-index: 36;
	width: 366px;
	padding-bottom: 12px;
	position: relative;
	background: transparent url("../images/brick.jpg") no-repeat right top;
	background-size: cover;
}

#u747
{
	z-index: 63;
	width: 69px;
	height: 69px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
	background: transparent url("../images/google.jpg") no-repeat left top;
	background-size: cover;
}

#u746-4
{
	z-index: 59;
	position: relative;
	width: 179px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 175px;
}

#u738
{
	z-index: 45;
	width: 32px;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 5px;
	position: relative;
}

#pu743
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 30px;
}

#u743
{
	z-index: 53;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u745-4
{
	z-index: 55;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	left: 24px;
}

#pu781
{
	z-index: 64;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 427px;
}

#u781
{
	z-index: 0;
	width: 381px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu782
{
	width: 0.01px;
	padding-bottom: 12.912304779703732px;
	position: relative;
	z-index: 2;
}

#u782
{
	z-index: 65;
	width: 381px;
	padding-bottom: 6px;
	position: relative;
	background: transparent url("../images/brick.jpg") no-repeat right top;
	background-size: cover;
}

#u794
{
	z-index: 92;
	width: 72px;
	height: 69px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
	background: transparent url("../images/a-red-bull-logo.jpg") no-repeat center center;
	background-size: cover;
}

#u793-4
{
	z-index: 88;
	position: relative;
	width: 143px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 228px;
}

#pu785
{
	width: 0.01px;
	margin-left: 8px;
}

#u785
{
	z-index: 74;
	width: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u783-4
{
	z-index: 66;
	position: relative;
	width: 328px;
	margin-right: -10000px;
	left: 45px;
}

#pu790
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 24px;
}

#u790
{
	z-index: 82;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u792-4
{
	z-index: 84;
	position: relative;
	width: 121px;
	margin-right: -10000px;
	left: 25px;
}

#u903-4
{
	z-index: 166;
	display: block;
	vertical-align: top;
	margin-left: 3px;
	margin-top: 56px;
	position: relative;
}

#pu857
{
	z-index: 93;
	width: 0.01px;
	position: relative;
	margin-left: 35px;
	margin-top: 27px;
}

#u858
{
	z-index: 94;
	width: 366px;
	padding-bottom: 5px;
	position: relative;
	background: transparent url("../images/brick.jpg") no-repeat right top;
	background-size: cover;
}

#u870
{
	z-index: 123;
	width: 69px;
	height: 69px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
	background: transparent url("../images/philzcoffee-vector-logo.jpg") no-repeat left top;
	background-size: cover;
}

#u869-6
{
	z-index: 117;
	position: relative;
	width: 137px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 219px;
}

#u861
{
	z-index: 103;
	width: 32px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 5px;
	position: relative;
}

#u866
{
	z-index: 111;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u868-4
{
	z-index: 113;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	left: 24px;
}

#u904-4
{
	z-index: 170;
	display: block;
	vertical-align: top;
	margin-top: 60px;
	position: relative;
}

#pu966
{
	z-index: 124;
	width: 0.01px;
	position: relative;
	margin-left: 35px;
	margin-top: 28px;
}

#u734,#u857,#u966
{
	z-index: 0;
	width: 366px;
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu858,#pu967
{
	width: 0.01px;
	position: relative;
	z-index: 2;
	padding-bottom: 13px;
}

#u967
{
	z-index: 125;
	width: 366px;
	padding-bottom: 5px;
	position: relative;
	background: transparent url("../images/brick.jpg") no-repeat right top;
	background-size: cover;
}

#u979
{
	z-index: 152;
	width: 69px;
	height: 69px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
	background: transparent url("../images/jawbone.jpg") no-repeat left top;
	background-size: cover;
}

#u978-4
{
	z-index: 148;
	position: relative;
	width: 147px;
	margin-right: -10000px;
	margin-top: 177px;
	left: 209px;
}

#u970
{
	z-index: 134;
	width: 32px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 5px;
	position: relative;
}

#pu866,#pu975
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 29px;
}

#u975
{
	z-index: 142;
	width: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u977-4
{
	z-index: 144;
	position: relative;
	width: 116px;
	margin-right: -10000px;
	left: 24px;
}

#u736-4
{
	z-index: 37;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 361px;
	left: 103px;
}

#u737-4
{
	z-index: 41;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 458px;
	left: 52px;
}

#u740
{
	z-index: 47;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 93px;
}

#u742-4
{
	z-index: 49;
	position: relative;
	width: 78px;
	margin-right: -10000px;
	margin-top: 399px;
	left: 118px;
}

#u784-4
{
	z-index: 70;
	position: relative;
	width: 381px;
	margin-right: -10000px;
	margin-top: 459px;
	left: 479px;
}

#u787
{
	z-index: 76;
	width: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 521px;
}

#u789-4
{
	z-index: 78;
	position: relative;
	width: 81px;
	margin-right: -10000px;
	margin-top: 400px;
	left: 548px;
}

#u859-4
{
	z-index: 95;
	position: relative;
	width: 316px;
	margin-right: -10000px;
	margin-top: 796px;
	left: 103px;
}

#u860-4
{
	z-index: 99;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 893px;
	left: 53px;
}

#u863
{
	z-index: 105;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 833px;
	left: 93px;
}

#u865-4
{
	z-index: 107;
	position: relative;
	width: 78px;
	margin-right: -10000px;
	margin-top: 833px;
	left: 119px;
}

#u968-4
{
	z-index: 126;
	position: relative;
	width: 316px;
	margin-right: -10000px;
	margin-top: 1231px;
	left: 103px;
}

#u969-4
{
	z-index: 130;
	position: relative;
	width: 366px;
	margin-right: -10000px;
	margin-top: 1328px;
	left: 53px;
}

#u972
{
	z-index: 136;
	width: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1269px;
	left: 93px;
}

#u974-4
{
	z-index: 138;
	position: relative;
	width: 78px;
	margin-right: -10000px;
	margin-top: 1269px;
	left: 119px;
}

#u746-4_img,#u745-4_img,#u793-4_img,#u783-4_img,#u792-4_img,#u869-6_img,#u868-4_img,#u978-4_img,#u977-4_img,#u736-4_img,#u737-4_img,#u742-4_img,#u784-4_img,#u789-4_img,#u859-4_img,#u860-4_img,#u865-4_img,#u968-4_img,#u969-4_img,#u974-4_img
{
	display: block;
	vertical-align: top;
}

#u828
{
	z-index: 157;
	width: 878px;
	height: 2px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 21px;
}

#u646
{
	z-index: 4;
	top: 17px;
	right: 25px;
}

#u646_states
{
	height: 19px;
	width: 61px;
}

#pu683
{
	width: 0.01px;
	margin: 1562px -10000px -54px -100px;
}

#u683,#u683-bw
{
	z-index: 26;
	height: 54px;
}

#u684-4
{
	z-index: 27;
	margin-right: -10000px;
	margin-top: 17px;
	left: 136px;
}

#u686
{
	z-index: 31;
	width: 64px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 949px;
}

#u692
{
	z-index: 33;
	width: 33px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1015px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 50px;
	padding-bottom: 53px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1561px;
}

