<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<%= asset_path('root.css') %>" id="pagesheet"/>
	</head>

	<body>
		<div>
			<div id="outer">
	  			<div id="desc">
	  				<img width="875" height="123" src="<%= asset_path('u1110-14.png') %>">
	  			</div>
	  			<a href="<%= works_path()  %>">
		  			<div id="here">
		  				<img src="<%= asset_path('u1308_states.png') %>"/>
		  			</div>
		  		</a>
	  		</div>
	  	</div>
	</body>
</html>