<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<%= asset_path('howitis.css') %>" id="pagesheet"/>
	</head>

	<body>
		<div style="margin-left: 400px;">
			<img src="../images/how-works.png"/>
		</div>
	</body>
</html>