<html>
	<head>
		<link rel="stylesheet" type="text/css" href="<%= asset_path('howitis.css') %>" id="pagesheet"/>
	</head>

	<body>
		<div style="margin-left: 400px;">
			<%= image_tag "howworks.png" %>
		</div>
	</body>
</html>
