#upvotecss {
  padding: 5px; 
  width: 150px;
  text-align: center;
  border-radius: 25px;
  background-color: #63D13E;
  margin-top: 20px;
   margin-left: 175px;
}

#ideaName {
  width: 320px;
  height: 30px;
  font-weight: bold;
  font-size: 22px;
  padding-top: 20px;
} 

#ideaDescription {
	width: 500px;
  	height: auto;
  	text-overflow: ellipsis;
}

#voteName {
  font-weight: bold;
  margin-top: 15px;
  width: 200px;
  height: 15px;
}

#ideaOuter {
  margin-left: 100px;
  background-color: black;
  color: white;
  width: 500px;
  padding: 40px 400px;
}